<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
</head>
<body>

<div>
    Recover your password by clicking next link
    <br/>
    <a href="http://<%= link %>">our awesome link</a>
</div>

</body>
</html>