<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/build/css/main.css" rel="stylesheet">
</head>
<body>
<div id="fb-root"></div>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= googleApiKey %>&libraries=places"></script>
<noscript>You need to enable JavaScript to run this app.</noscript>

<div id="root"></div>
<script type="text/javascript" src="/build/js/main.js"></script>
</body>
</html>