<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./template/head.ejs %>
    <style>
        .mdl-dialog {
            min-width: 400px;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="./build/media/dialog-polyfill.css" />
</head>
<body>

<noscript>You need to enable JavaScript to run this app.</noscript>

<dialog class="mdl-dialog">

    <h4 class="mdl-dialog__title">Login or Sign up</h4>
    <div class="mdl-dialog__content">
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="email" id="InputEmail">
            <label class="mdl-textfield__label" for="sample1">Enter email</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="password" id="InputPassword">
            <label class="mdl-textfield__label" for="sample1">Password</label>
        </div>
    </div>
    <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button" onclick=loginAction()>Login</button>
        <button type="button" class="mdl-button close" onclick=signupAction()>Sign up</button>
    </div>
    <div class="" id="alertDialog" role="alert">
    </div>
</dialog>


</body>

<script src="./build/assets/dialog-polyfill.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<!--<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>-->
<script defer src="./build/assets/vendor/material.min.js"></script>

<script>



    function signupAction() {
        const url = "/registerUser";
        const email = document.getElementById('InputEmail').value;
        const password = document.getElementById('InputPassword').value;

        fetch(url, getFetchInitProps(JSON.stringify({email: email, password: password})))
            .then(res => res.json())
            .then(res => {

                if (res && res.success) {
                    document.location.href = "/";
                } else {
                    // console.log('loginAction unsuccessful !res=', res);
                    showErrMes(res.errorCode);
                }
            })
            .catch(function (err) {
                console.error(`loginAction failed! ${err}`);
                showErrMes(err);
            });

    }


    function loginAction() {
        const url = "/login";
        const email = document.getElementById('InputEmail').value;
        const password = document.getElementById('InputPassword').value;

        fetch(url, getFetchInitProps(JSON.stringify({email: email, password: password})))
            .then(res => res.json())
            .then(res => {


                if (res && res.success) {
                    document.location.href = "/";
                } else {
                    // console.log('loginAction unsuccessful !res=', res);
                    showErrMes(res.errorCode);
                }
            })
            .catch(function (err) {
                console.error(`loginAction failed! ${err}`);
                showErrMes(err);
            });
    };

    function getFetchInitProps(body) {
        let res = {
            method: "POST",
            mode: "same-origin",
            credentials: "include",
            headers: new Headers({
                "Content-Type": "application/json",
                "Accept": "application/json"
            }),
        };

        if (body) {
            res.body = body;
        }
        return res;
    }

    function showErrMes(errCode) {

        const el = document.getElementById('alertDialog');

        switch (errCode) {
            case 'EMAIL_NOT_UNIQUE':
                el.innerHTML = "User with such email exist. Please try to log in";
                el.className = "alert alert-danger";
                break;
            case 'AUTH_ERROR':
                el.innerHTML = "No such email/password. Please check your email and password and try again";
                el.className = "alert alert-danger";
                break;
            case 'BAD_REQUEST':
                el.innerHTML = "Please, enter valid email and password (more then 3 characters expected)";
                el.className = "alert alert-danger";
                break;
            default:
                el.innerHTML = "Internal server error. Please try again later"
                el.className = "alert alert-danger";
        }
    }


        $(window).on('load',function(){

            $(".close-alert").click(function(e){
                $(this).parent().remove();
                e.preventDefault();
            });

            let dialog = document.querySelector('dialog');
            dialogPolyfill.registerDialog(dialog);
            // Now dialog acts like a native <dialog>.
            dialog.showModal();
    });

</script>
</html>