.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    width: 0;
    opacity: 0;
    background-color: #cfcfcf;
    transition: opacity 1.5s ease;
    -webkit-transition: opacity 1.5s, -webkit-transform 1.5s; /* Safari */
    z-index: 0;
}

.overlay img {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlay.active {
    /*left: 50%;*/
    /*right: 50%;*/
    height: 100%;
    width: 100%;
    opacity: 0.4;
    z-index: 10000;
    /*background: red;*/
}